* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(to top, lightsteelblue, lightsteelblue);
  overflow: hidden;
  position: relative;
}

@keyframes floatShape {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(120vw);
  }
}

/* Konten tengah */
.container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 3em;
  color: black;
  margin-bottom: 10px;
  animation: float 2s ease-in-out infinite;
}

.tagline {
  font-size: 1.1em;
  color: darkslategray;
  margin-bottom: 25px;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.product-img {
  width: 160px;
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.btn {
  display: inline-block;
  margin-top: 30px;
  padding: 12px 30px;
  background-color: darkslateblue;
  color: black;
  border: none;
  border-radius: 30px;
  font-size: 1.2em;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.btn:hover {
  background-color: red;
  transform: scale(1.1);
}
